.info-fields {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: rgba(46, 45, 45, 0.2);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__item {
        margin-bottom: 20px;
        width: 50%;
        @include mobile {
            width: 80%;
        }
    }
    &__name {
        padding-left: 10px;
        font-size: 22px;
        margin-bottom: 5px;
        font-family: "OpenSans";
        color: var(--color-nava);
    }
    &__value {
        padding: 5px 10px;
        background-color:rgba(0, 0, 0, 0.418);
        border-radius: 10px;
        font-size: 20px;
        font-family: "Raleway";
        color: var(--color-nava);
    }
}

