.nav {
    &__item {
        margin: 0 0 30px 0;
        cursor: pointer;
        
        @include tablet {
            //padding-bottom: 5px;
            
        }
        @include for-desktop {
            margin-bottom: 0;
        }
    }
    &__link {
        margin: 0;
        
        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
        padding: 8px 15px;
        border-radius: 15px;
        transition: all .3s ease-in;
        
        
        &:hover,&:focus,&:active {
            background-color:rgba(199, 199, 199, 0.9) ;
            color: rgb(46, 28, 22);
            font-weight: 500;
         
          
        }
        @include tablet {
            border-bottom: 1px solid rgba(255,255,255, .2);
            border-radius: 6px 6px 0px 0px;
            
        }
        @include for-desktop {
          
        }
    }
}